body {
    background-color: #FFE226;
    font-family: 'Montserrat', sans-serif;
    color: #0B3A56;
    font-weight: bolder;
}

#contenedor-nombre-empresa {
    display: flex;
    flex-direction: column;

}
#nombre-empresa {
    font-weight: bolder;
    font-size: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#eslogan {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
#logo {
    width: 10rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* inicio de sesion */
#inicio-sesion {
    display:none;
}

.icono-regreso {
    font-size: 43px;
    margin-top: 25px;
    margin-left: 20px;
    position: absolute;
} 

.informacion-inicio-sesion {
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 18px;
}

.input-inicio-sesion {
    width: 270px;
    height: 35px;
    border-radius: 5px;
    border: #0B3A56 2px solid;
}
#boton-inicio-sesion {
    margin-top: 35px;
    font-size: 22px;
    width: 270px;
    height: 45px;
    background-color: #C6382C;
    color: #ffffff;
    border: 2px #0B3A56 solid;
    border-radius: 10px;
}
  
#contenerdor-no-cuenta {
    display: flex;
    align-items: center;
    width: 270px;
}

#no-cuenta {
    margin-top: 1px;
    font-size: 0.8rem;
    text-decoration: underline;
}

.fa-brands {
    font-size: 1.5rem;
    margin-top: 20px;
}
#footer {
    position: absolute;
    bottom:auto;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
/* ORDENES */
/* #listado-ordenes {
    display: none;
} */

.icono-regreso-listado {
    font-size: 43px;
    margin-top: 25px;
    margin-left: 18px;
    position: absolute;
    top: 0;
    color: #0B3A56;
}

#list-orden {
    margin-left: 30px;
    color: #0B3A56;
}

#ordenes {
    display: flex;
    flex-direction: column;
    
}

.ordenes-a-tomar {
    display: flex;
   justify-content: space-around;
    align-items: center;
    border: 1px solid #0B3A56;
    margin: 5px 20px 20px 20px;
    height: 100px;
    background-color: #FFE226;
}
.parrafo-orden {
    font-size: 28px;
    color: #ffffff;
    text-shadow: -2px -2px 0 #0B3A56, 2px -2px 0 #0B3A56, -2px 2px 0 #0B3A56, 2px 2px 0 #0B3A56;
}

.icono-orden {
    font-size: 28px;
    color: #C6382C;
}

#footer-usuario {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #FFE226;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.iconos-footer-nuevo {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* ORDENES DISPONIBLES */
/* #ordenes-disponibles {
    display: none;
} */
.icono-regreso-disponible {
    font-size: 43px;
    margin-top: 25px;
    margin-left: 18px;
    position: absolute;
    left: 0px;
    color: #0B3A56;
}

#contenedor-ordenes-disponibles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE226;
    margin: 0!important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
    color: #ffffff;
}
#logo-ordenes {
    width: 4rem;
    margin-left: auto;
    margin-right: auto;
}

#contenedor-pedidos {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
}
.pedidos {
    display: flex;
    align-items: center;
    border: 1px solid #C6382C;
    border-radius: 5px;
    margin: 0 10px 20px 10px;
}

.icono-pedido {
    font-size: 2.5rem;
    margin-right: 30px;
    margin-left: 10px;
}
/* Ordenes Tomadas */
/* #ordenes-tomadas {
    display: block;
} */

#contenedor-pedidos-tomados {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
}

.pedido-tomado {
    border: 1px solid #C6382C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 10px 15px; 
}

.estado-orden {
    width: 120px;
    height: 30px;
    border: 1px solid #0B3A56;
    background-color: #C6382C;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0px 15px 15px 0;
}

/* ORDENES ENTREGADAS */
.icono-check {
    font-size: 2rem;
    margin-left: 30px;
    color: #36DF63;
}

/* perfil */

#usuario-foto {
    font-size: 5rem;
}

#perfil-header {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contenedor-atributos {
    display: flex;
    align-items: center;
}
.atributos-motorista {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-right: 20px;
}

.info-atributos {
    font-size: 1.3rem;
    font-weight: 100;
    margin-left: 20px;
}

/* FACTURA */
#factura {
    display: none;
    background-color: #ffffff;
}

#header-factura {
    display: flex;
    flex-direction: column;
}

#contenedor-factura {
    background-color: #FFE226;
    border-radius: 10px;
    margin-bottom: 30px;
}

.precios-factura {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

